@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";

@theme {
  --color-wedding-navy: #1a237e;
  --color-wedding-gold: #d4af37;
  --color-wedding-cream: #f5f5dc;
  --font-serif: 'EB Garamond', serif;
  --font-philosopher: 'Philosopher', sans-serif;
}

body {
  font-family: 'EB Garamond', serif;
}

.t2-container {
  max-width: 1160px;
  margin: 0 auto;
}

@keyframes mouse-scroll {
    0% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 15px);
    }
  }

  .animate-mouse-scroll {
    animation: mouse-scroll 1.5s infinite;
  }