---
import '@styles/music-player.css';
---

<div id="wedding-music-player" class="music-player-container is-paused">
  <div id="vinyl-toggle-wrapper" class="turntable-base">
    <div class="vinyl-disc">
      <div class="vinyl-center"></div>
    </div>
    <div class="tonearm-pivot">
      <div class="tonearm-arm"></div>
    </div>
  </div>
</div>

<script>
  import { initMusicPlayer } from '@scripts/music-player.js';
  initMusicPlayer();
</script>
